body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Admin1
{
   border-width: 0;
   margin: 0;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont1
{
   height: 70px;
   width: 90px;
}
.IconFont1
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont1:before
{
   content: "\e5c4";
}
#IconFont1 i
{
   color: #265A88;
   display: inline-block;
   font-size: 70px;
   line-height: 70px;
   vertical-align: middle;
   width: 69px;
}
#wb_IconFont1:hover i
{
   color: #337AB7;
}
#wb_header
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #4973A6;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 8px 15px 8px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2, #header > .row > .col-3, #header > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2, #header > .row > .col-3, #header > .row > .col-4
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#header > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#header > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: right;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#header > .row > .col-1, #header > .row > .col-2, #header > .row > .col-3, #header > .row > .col-4
{
   float: none;
   width: 100%;
}
}
#wb_headerIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_headerIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#headerIcon1
{
   height: 33px;
   width: 24px;
}
#headerIcon1 i
{
   color: #28A7E9;
   display: inline-block;
   font-size: 24px;
   line-height: 33px;
   vertical-align: middle;
   width: 18px;
}
#wb_headerIcon1:hover i
{
   color: #FFFFFF;
}
#wb_headerIcon1
{
   -webkit-transition: all 500ms linear 0ms;
   -moz-transition: all 500ms linear 0ms;
   transition: all 500ms linear 0ms;
}
#headerLabel1
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   box-sizing: border-box;
   padding: 8px 4px 8px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#wb_headerIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_headerIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#headerIcon2
{
   height: 33px;
   width: 24px;
}
#headerIcon2 i
{
   color: #28A7E9;
   display: inline-block;
   font-size: 24px;
   line-height: 33px;
   vertical-align: middle;
   width: 23px;
}
#wb_headerIcon2:hover i
{
   color: #FFFFFF;
}
#wb_headerIcon2
{
   -webkit-transition: all 500ms linear 0ms;
   -moz-transition: all 500ms linear 0ms;
   transition: all 500ms linear 0ms;
}
#headerLabel2
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   box-sizing: border-box;
   padding: 8px 4px 8px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#wb_headerIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_headerIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#headerIcon3
{
   height: 40px;
   width: 24px;
}
#headerIcon3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 40px;
   vertical-align: middle;
   width: 19px;
}
#wb_headerIcon3:hover i
{
   color: #28A7E9;
}
#wb_headerIcon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_headerIcon4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#headerIcon4
{
   height: 40px;
   width: 24px;
}
#headerIcon4 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 40px;
   vertical-align: middle;
   width: 19px;
}
#wb_headerIcon4:hover i
{
   color: #28A7E9;
}
#wb_headerIcon5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_headerIcon5:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#headerIcon5
{
   height: 40px;
   width: 24px;
}
#headerIcon5 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 40px;
   vertical-align: middle;
   width: 19px;
}
#wb_headerIcon5:hover i
{
   color: #28A7E9;
}
#wb_headerIcon6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_headerIcon6:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#headerIcon6
{
   height: 40px;
   width: 24px;
}
#headerIcon6 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 40px;
   vertical-align: middle;
   width: 21px;
}
#wb_headerIcon6:hover i
{
   color: #28A7E9;
}
