div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_Shape1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape1
{
   width: 533px;
   height: 472px;
   background-color: #4973A6;
   background-image: none;
   border: 0px #000000 solid;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Text3 
{
   border: 0px #000000 solid;
   margin: 0;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_FontAwesomeIcon5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon5:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon5
{
   height: 40px;
   width: 24px;
}
#FontAwesomeIcon5 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 40px;
   vertical-align: middle;
   width: 19px;
}
#wb_FontAwesomeIcon5:hover i
{
   color: #28A7E9;
}
#wb_FontAwesomeIcon6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon6:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon6
{
   height: 40px;
   width: 24px;
}
#FontAwesomeIcon6 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 40px;
   vertical-align: middle;
   width: 23px;
}
#wb_FontAwesomeIcon6:hover i
{
   color: #28A7E9;
}
#wb_FontAwesomeIcon7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon7:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon7
{
   height: 40px;
   width: 24px;
}
#FontAwesomeIcon7 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 40px;
   vertical-align: middle;
   width: 19px;
}
#wb_FontAwesomeIcon7:hover i
{
   color: #28A7E9;
}
#wb_FontAwesomeIcon8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon8:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon8
{
   height: 40px;
   width: 24px;
}
#FontAwesomeIcon8 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 40px;
   vertical-align: middle;
   width: 21px;
}
#wb_FontAwesomeIcon8:hover i
{
   color: #28A7E9;
}
#wb_FontAwesomeIcon9
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon9:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon9
{
   height: 40px;
   width: 24px;
}
#FontAwesomeIcon9 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 40px;
   vertical-align: middle;
   width: 19px;
}
#wb_FontAwesomeIcon9:hover i
{
   color: #28A7E9;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#Login1
{
   background-color: #FFFFFF;
   border-color:#FFFFFF;
   border-width:15px;
   border-style: solid;
   border-radius: 13px;
   color: #000000;
   border-spacing: 19px;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   text-align: left;
   width: 451px;
   height: 311px;
}
#Login1 td
{
   padding: 0;
}
#Login1 .header
{
   background-color: #000080;
   color: #FFFFFF;
   height: 0px;
   padding: 4px 4px 4px 4px;
   text-align: center;
}
#Login1 .label
{
   height: 16px;
}
#Login1 .row
{
   height: 30px;
   text-align: left;
}
#Login1 .input
{
   background-color: #FFFFFF;
   border-color: #CCCCCC;
   border-width: 1px;
   border-style: solid;
   border-radius: 1px;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   width: 100%;
   height: 30px;
   box-sizing: border-box;
   padding: 6px 4px 6px 4px;
}
#Login1 .input:focus
{
   border-color: #66AFE9;
   outline: 0;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
}
#Login1 .button
{
   background-color: #4973A6;
   border-color: #4973A6;
   border-width: 10px;
   border-style: solid;
   border-radius: 15px;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   padding: 6px 160px 6px 14px;
   -webkit-appearance: none;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon1
{
   height: 39px;
   width: 37px;
}
#FontAwesomeIcon1 i
{
   color: #000000;
   display: inline-block;
   font-size: 37px;
   line-height: 39px;
   vertical-align: middle;
   width: 23px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000080;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon2
{
   height: 48px;
   width: 33px;
}
#FontAwesomeIcon2 i
{
   color: #000000;
   display: inline-block;
   font-size: 33px;
   line-height: 48px;
   vertical-align: middle;
   width: 22px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #337AB7;
}
#Text7 
{
   border: 0px #000000 solid;
   margin: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Shape3
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#wb_FontAwesomeIcon2
{
   position: absolute;
   left: 2px;
   top: 360px;
   width: 33px;
   height: 48px;
   text-align: center;
   z-index: 14;
}
#wb_Shape1
{
   position: absolute;
   left: 607px;
   top: 165px;
   width: 533px;
   height: 472px;
   z-index: 0;
}
#wb_FontAwesomeIcon1
{
   position: absolute;
   left: 0px;
   top: 451px;
   width: 37px;
   height: 39px;
   text-align: center;
   z-index: 13;
}
#wb_Shape3
{
   position: absolute;
   left: 13px;
   top: 635px;
   width: 1088px;
   height: 52px;
   z-index: 19;
}
#wb_Image1
{
   position: absolute;
   left: 0px;
   top: 120px;
   width: 186px;
   height: 49px;
   z-index: 17;
}
#wb_Text4
{
   position: absolute;
   left: 659px;
   top: 178px;
   width: 121px;
   height: 15px;
   z-index: 9;
}
#wb_Image2
{
   position: absolute;
   left: 661px;
   top: 231px;
   width: 197px;
   height: 51px;
   z-index: 3;
}
#wb_Image3
{
   position: absolute;
   left: 913px;
   top: 361px;
   width: 230px;
   height: 278px;
   z-index: 18;
}
#wb_Login1
{
   position: absolute;
   left: 0px;
   top: 297px;
   width: 451px;
   height: 311px;
   z-index: 11;
}
#wb_Text5
{
   position: absolute;
   left: 780px;
   top: 178px;
   width: 212px;
   height: 15px;
   z-index: 10;
}
#wb_Text6
{
   position: absolute;
   left: 246px;
   top: 502px;
   width: 131px;
   height: 14px;
   z-index: 12;
}
#Shape3
{
   width: 1088px;
   height: 52px;
}
#wb_Text1
{
   position: absolute;
   left: 0px;
   top: 209px;
   width: 91px;
   height: 29px;
   z-index: 16;
}
#wb_FontAwesomeIcon9
{
   position: absolute;
   left: 1093px;
   top: 165px;
   width: 24px;
   height: 40px;
   text-align: center;
   z-index: 8;
}
#Text3
{
   position: absolute;
   left: 659px;
   top: 408px;
   width: 408px;
   height: 220px;
   z-index: 2;
}
#wb_Text2
{
   position: absolute;
   left: 659px;
   top: 315px;
   width: 341px;
   height: 38px;
   z-index: 1;
}
#wb_FontAwesomeIcon8
{
   position: absolute;
   left: 1059px;
   top: 165px;
   width: 24px;
   height: 40px;
   text-align: center;
   z-index: 7;
}
#wb_FontAwesomeIcon7
{
   position: absolute;
   left: 1025px;
   top: 165px;
   width: 24px;
   height: 40px;
   text-align: center;
   z-index: 6;
}
#Text7
{
   position: absolute;
   left: 2px;
   top: 279px;
   width: 422px;
   height: 18px;
   z-index: 15;
}
#wb_FontAwesomeIcon6
{
   position: absolute;
   left: 992px;
   top: 165px;
   width: 24px;
   height: 40px;
   text-align: center;
   z-index: 5;
}
#wb_FontAwesomeIcon5
{
   position: absolute;
   left: 958px;
   top: 165px;
   width: 24px;
   height: 40px;
   text-align: center;
   z-index: 4;
}
#wb_Text8
{
   position: absolute;
   left: 13px;
   top: 656px;
   width: 561px;
   height: 10px;
   text-align: center;
   z-index: 20;
}
@media only screen
{
div#container
{
   width: 1024px;
}
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Shape1
{
   left: 451px;
   top: 106px;
   width: 637px;
   height: 584px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Shape1
{
   width: 637px;
   height: 584px;
}
#wb_Text2
{
   left: 503px;
   top: 321px;
   width: 341px;
   height: 51px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#Text3
{
   left: 503px;
   top: 407px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   font-family: "Roboto Medium";
   font-weight: normal;
   font-size: 37px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Image2
{
   left: 505px;
   top: 230px;
   width: 224px;
   height: 58px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_FontAwesomeIcon5
{
   left: 911px;
   top: 135px;
   width: 24px;
   height: 40px;
   visibility: visible;
   display: inline;
   margin: 0px 10px 0px 0px;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 2px;
}
#FontAwesomeIcon5
{
   width: 24px;
   height: 40px;
}
#FontAwesomeIcon5 i
{
   line-height: 40px;
   font-size: 24px;
   width: 19px;
}
#wb_FontAwesomeIcon6
{
   left: 877px;
   top: 135px;
   width: 24px;
   height: 40px;
   visibility: visible;
   display: inline;
   margin: 0px 10px 0px 0px;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 2px;
}
#FontAwesomeIcon6
{
   width: 24px;
   height: 40px;
}
#FontAwesomeIcon6 i
{
   line-height: 40px;
   font-size: 24px;
   width: 23px;
}
#wb_FontAwesomeIcon7
{
   left: 950px;
   top: 135px;
   width: 24px;
   height: 40px;
   visibility: visible;
   display: inline;
   margin: 0px 10px 0px 0px;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 2px;
}
#FontAwesomeIcon7
{
   width: 24px;
   height: 40px;
}
#FontAwesomeIcon7 i
{
   line-height: 40px;
   font-size: 24px;
   width: 19px;
}
#wb_FontAwesomeIcon8
{
   left: 984px;
   top: 135px;
   width: 24px;
   height: 40px;
   visibility: visible;
   display: inline;
   margin: 0px 10px 0px 0px;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 2px;
}
#FontAwesomeIcon8
{
   width: 24px;
   height: 40px;
}
#FontAwesomeIcon8 i
{
   line-height: 40px;
   font-size: 24px;
   width: 21px;
}
#wb_FontAwesomeIcon9
{
   left: 1018px;
   top: 135px;
   width: 24px;
   height: 40px;
   visibility: visible;
   display: inline;
   margin: 0px 10px 0px 0px;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 2px;
}
#FontAwesomeIcon9
{
   width: 24px;
   height: 40px;
}
#FontAwesomeIcon9 i
{
   line-height: 40px;
   font-size: 24px;
   width: 19px;
}
#wb_Text4
{
   left: 505px;
   top: 154px;
   width: 121px;
   height: 15px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 663px;
   top: 154px;
   width: 212px;
   height: 15px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#wb_Login1
{
   left: 0px;
   top: 297px;
   width: 451px;
   height: 374px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Login1
{
   width: 451px;
   height: 374px;
}
#Login1
{
}
#wb_Text6
{
   left: 288px;
   top: 501px;
   width: 131px;
   height: 16px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_FontAwesomeIcon1
{
   left: 0px;
   top: 451px;
   width: 37px;
   height: 39px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #000000;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 37px;
   height: 39px;
}
#FontAwesomeIcon1 i
{
   line-height: 39px;
   font-size: 37px;
   width: 23px;
}
#wb_FontAwesomeIcon2
{
   left: 2px;
   top: 360px;
   width: 33px;
   height: 48px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #000000;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 33px;
   height: 48px;
}
#FontAwesomeIcon2 i
{
   line-height: 48px;
   font-size: 33px;
   width: 22px;
}
#Text7
{
   left: 2px;
   top: 279px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 0px;
   top: 209px;
   width: 91px;
   height: 29px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 0px;
   top: 120px;
   width: 186px;
   height: 49px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   left: 754px;
   top: 352px;
   width: 336px;
   height: 340px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#JavaScript1
{
   left: 574px;
   top: 973px;
   width: 100px;
   height: 100px;
   visibility: visible;
   display: inline;
}
#wb_Shape3
{
   left: 0px;
   top: 690px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text8
{
   left: 211px;
   top: 710px;
   width: 760px;
   height: 13px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text8
{
   margin: 0;
   padding: 0;
}
}
