body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_header
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   box-shadow: 0px 4px 8px rgba(0,0,0,0.19);
}
#header
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#header > .col-1, #header > .col-2, #header > .col-3, #header > .col-4, #header > .col-5, #header > .col-6
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .col-1, #header > .col-2, #header > .col-3, #header > .col-4, #header > .col-5, #header > .col-6
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#header > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   text-align: right;
}
#header > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   text-align: right;
}
#header > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#header > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 8.33333333%;
   max-width: 8.33333333%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#header > .col-5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#header > .col-6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 8.33333333%;
   max-width: 8.33333333%;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#header > .col-1, #header > .col-2, #header > .col-3, #header > .col-4, #header > .col-5, #header > .col-6
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_welcome
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #4973A6;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 50px 0px 0px 0px;
}
#welcome
{
   box-sizing: border-box;
   padding: 75px 15px 75px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#welcome > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#welcome > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#welcome > .row > .col-1
{
   float: left;
}
#welcome > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#welcome:before,
#welcome:after,
#welcome .row:before,
#welcome .row:after
{
   display: table;
   content: " ";
}
#welcome:after,
#welcome .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#welcome > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_infoBlock1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#infoBlock1
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 20px 0px 20px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#infoBlock1 > .col-1, #infoBlock1 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#infoBlock1 > .col-1, #infoBlock1 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#infoBlock1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 58.33333333%;
   max-width: 58.33333333%;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#infoBlock1 > .col-2
{
   background-color: transparent;
   background-image: url(images/wwb_worldblue.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border: 0px solid #FFFFFF;
   flex-basis: 41.66666667%;
   max-width: 41.66666667%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#infoBlock1 > .col-1, #infoBlock1 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_chooseUs
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #4973A6;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#chooseUs
{
   box-sizing: border-box;
   padding: 50px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#chooseUs > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#chooseUs > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#chooseUs > .row > .col-1
{
   float: left;
}
#chooseUs > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#chooseUs:before,
#chooseUs:after,
#chooseUs .row:before,
#chooseUs .row:after
{
   display: table;
   content: " ";
}
#chooseUs:after,
#chooseUs .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#chooseUs > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#infoBlock1Spacer
{
   border-color: #A0A0A0;
   border-color: rgba(160,160,160,0.00);
   border-style: solid;
   border-bottom-width: 233px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_welcomeHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 10px 10px 10px;
   text-align: center;
}
#welcomeHeading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#welcomeLine
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 20px 0px 20px 0px;
   padding: 0;
}
#wb_welcomeHeading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 10px 10px 10px;
   text-align: center;
}
#welcomeHeading2
{
   color: #C8ECE9;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#welcomeButton1
{
   line-height: 38px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 2px solid #007BFF;
   border-radius: 31px;
   background-color: #007BFF;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   -webkit-appearance: none;
   margin: 10px 10px 10px 10px;
   -webkit-animation: animate-fade-in 2000ms linear 1000ms 1 normal both;
   -moz-animation: animate-fade-in 2000ms linear 1000ms 1 normal both;
   animation: animate-fade-in 2000ms linear 1000ms 1 normal both;
}
#welcomeButton1
{
   background-color: #007BFF;
   border-color: #007BFF;
   -webkit-transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
   -moz-transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
   transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
}
#welcomeButton1:hover
{
   background-color: rgba(0,123,255,0.00);
   border-color: #FFFFFF;
   -webkit-transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
   -moz-transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
   transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
}
#wb_chooseUsHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 10px 10px 10px;
   -webkit-animation: heartbeat-1 15000ms linear 1ms infinite normal both;
   -moz-animation: heartbeat-1 15000ms linear 1ms infinite normal both;
   animation: heartbeat-1 15000ms linear 1ms infinite normal both;
   text-align: center;
}
#chooseUsHeading1
{
   color: #E6E6E6;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#wb_infoBlock1Card1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0px 10px 0px 10px;
   padding: 0;
   text-align: left;
}
#infoBlock1Card1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#infoBlock1Card1-card-item0
{
   display: inline-block;
   height: 71px;
   box-sizing: border-box;
   margin: 25px 0px 0px 0px;
   padding: 15px 15px 15px 15px;
   border: 2px solid #007BFF;
   border-radius: 50%;
   background-color: #FFFFFF;
   background-image: none;
   color: #007BFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 37px;
}
#wb_infoBlock1Card1:hover #infoBlock1Card1-card-item0
{
   background-color: #007BFF;
   color: #FFFFFF;
   -webkit-transition: background-color 400ms linear 0ms, color 400ms linear 0ms;
   -moz-transition: background-color 400ms linear 0ms, color 400ms linear 0ms;
   transition: background-color 400ms linear 0ms, color 400ms linear 0ms;
}
#infoBlock1Card1-card-item0
{
   background-color: #FFFFFF;
   color: #007BFF;
   -webkit-transition: background-color 400ms linear 0ms, color 400ms linear 0ms;
   -moz-transition: background-color 400ms linear 0ms, color 400ms linear 0ms;
   transition: background-color 400ms linear 0ms, color 400ms linear 0ms;
}
#infoBlock1Card1-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#infoBlock1Card1-card-item0 i
{
   text-align: center;
   font-size: 37px;
   width: 37px;
}
#infoBlock1Card1-card-item1
{
   box-sizing: border-box;
   margin: -56px 0px 10px 84px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
}
#infoBlock1Card1-card-item2
{
   box-sizing: border-box;
   margin: 0px 30px 10px 84px;
   padding: 0;
   color: #888888;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_infoBlock1Card1:hover
{
   border-color: #28ABE3;
   -webkit-transition: border-color 400ms linear 0ms;
   -moz-transition: border-color 400ms linear 0ms;
   transition: border-color 400ms linear 0ms;
}
#wb_infoBlock1Card1
{
   border-color: #DEDEDE;
   -webkit-transition: border-color 400ms linear 0ms;
   -moz-transition: border-color 400ms linear 0ms;
   transition: border-color 400ms linear 0ms;
}
#wb_infoBlock1Card2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0px 10px 0px 10px;
   padding: 0;
   text-align: left;
}
#infoBlock1Card2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#infoBlock1Card2-card-item0
{
   display: inline-block;
   height: 71px;
   box-sizing: border-box;
   margin: 25px 0px 0px 0px;
   padding: 15px 15px 15px 15px;
   border: 2px solid #007BFF;
   border-radius: 50%;
   background-color: #FFFFFF;
   background-image: none;
   color: #007BFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 37px;
}
#wb_infoBlock1Card2:hover #infoBlock1Card2-card-item0
{
   background-color: #007BFF;
   color: #FFFFFF;
   -webkit-transition: background-color 400ms linear 0ms, color 400ms linear 0ms;
   -moz-transition: background-color 400ms linear 0ms, color 400ms linear 0ms;
   transition: background-color 400ms linear 0ms, color 400ms linear 0ms;
}
#infoBlock1Card2-card-item0
{
   background-color: #FFFFFF;
   color: #007BFF;
   -webkit-transition: background-color 400ms linear 0ms, color 400ms linear 0ms;
   -moz-transition: background-color 400ms linear 0ms, color 400ms linear 0ms;
   transition: background-color 400ms linear 0ms, color 400ms linear 0ms;
}
#infoBlock1Card2-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#infoBlock1Card2-card-item0 i
{
   text-align: center;
   font-size: 37px;
   width: 37px;
}
#infoBlock1Card2-card-item1
{
   box-sizing: border-box;
   margin: -56px 0px 10px 84px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
}
#infoBlock1Card2-card-item2
{
   box-sizing: border-box;
   margin: 0px 30px 10px 84px;
   padding: 0;
   color: #888888;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_infoBlock1Card2:hover
{
   border-color: #28ABE3;
   -webkit-transition: border-color 400ms linear 0ms;
   -moz-transition: border-color 400ms linear 0ms;
   transition: border-color 400ms linear 0ms;
}
#wb_infoBlock1Card2
{
   border-color: #DEDEDE;
   -webkit-transition: border-color 400ms linear 0ms;
   -moz-transition: border-color 400ms linear 0ms;
   transition: border-color 400ms linear 0ms;
}
#wb_LoginName1
{
   background-color: #FFFFFF;
   border: 0px solid #DDDDDD;
   color: #00008B;
   font-family: Arial;
   font-weight: normal;
   font-size: 20px;
   padding: 0;
   text-align: left;
   margin: 0;
   vertical-align: top;
}
#LoginName1
{
   display: block;
   float: left;
   margin: 0;
   width: 100%;
}
#Logout1
{
   background-color: #3370B7;
   border-color: #2E6DA4;
   border-width: 1px;
   border-style: solid;
   border-radius: 4px;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-align: center;
   text-decoration: none;
   -webkit-appearance: none;
   box-sizing: border-box;
   width: 100%;
   height: 25px;
   padding: 0;
}
#Button1
{
   line-height: 38px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 2px solid #FFFFFF;
   border-radius: 31px;
   background-color: #87CEFA;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   -webkit-appearance: none;
   margin: 10px 10px 10px 10px;
   -webkit-animation: animate-fade-in-down 2000ms linear 2000ms 1 normal both;
   -moz-animation: animate-fade-in-down 2000ms linear 2000ms 1 normal both;
   animation: animate-fade-in-down 2000ms linear 2000ms 1 normal both;
}
#Button1:hover
{
   background-color: #007BFF;
   border-color: #007BFF;
   -webkit-transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
   -moz-transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
   transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
}
#Button1
{
   background-color: rgba(0,123,255,0.00);
   border-color: #FFFFFF;
   -webkit-transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
   -moz-transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
   transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon1
{
   height: 50px;
   width: 50px;
}
#FontAwesomeIcon1 i
{
   color: #265A88;
   display: inline-block;
   font-size: 50px;
   line-height: 50px;
   vertical-align: middle;
   width: 35px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #337AB7;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 118px;
   height: 30px;
   vertical-align: top;
}
#Button2
{
   line-height: 38px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 2px solid #007BFF;
   border-radius: 31px;
   background-color: #007BFF;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   -webkit-appearance: none;
   margin: 10px 10px 10px 10px;
   -webkit-animation: animate-fade-in 2000ms linear 1000ms 1 normal both;
   -moz-animation: animate-fade-in 2000ms linear 1000ms 1 normal both;
   animation: animate-fade-in 2000ms linear 1000ms 1 normal both;
}
#Button2
{
   background-color: #007BFF;
   border-color: #007BFF;
   -webkit-transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
   -moz-transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
   transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
}
#Button2:hover
{
   background-color: rgba(0,123,255,0.00);
   border-color: #FFFFFF;
   -webkit-transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
   -moz-transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
   transition: background-color 300ms linear 0ms, border-color 300ms linear 0ms;
}
