BODY {
background-image:url( "./subBackground.png" );
background-repeat:repeat-x;
font-family:Josefin Sans ;
font-size:16px;
color:#333;
background-color:rgba(250,250,250,1)
}

#footer {
float: left;
position: absolute;
left: 0;
width: 100%;
height: 141px
}

#footerContent {
position: absolute;
left: 50%;
width: 960px;
margin-left: -480px
}

.nof_LostKeysBanners1-Default{
font-family:Lobster;
font-size:48px;
color:#613a4b
}

.nof_LostKeysNavbar5-Rollover{
font-family:Lobster;
font-size:20px;
color:#fafafa
}

.nof_LostKeysNavbar7-HighlightedRollover{
font-family:Lobster;
font-size:20px;
color:rgba(124,87,103,1)
}

/* Accordian */
.ui-accordion{
	border: 1px solid #74b3b5 !important;
	border-top: none !important
}
 .ui-accordion a {
	border: none !important
}
div.ui-accordion.selected a.head.selected                                              {
	background-image: url( "./AccordionTabOpen.png" ) !important;
	color: #fafafa !important
}
.ui-accordion a.head {
	background-image: url( "./AccordionTabClosed.png" ) !important;
	background-color: #ffffff !important;
	border: none !important;
	font-size: 11px !important;
	color: #613a4b !important;
	font-weight: normal !important;
	text-indent: 25px !important;
	height: 30px !important;
	line-height: 30px !important
}
.ui-accordion .ui-accordion-panel a {
	display: inline !important
}

/* Tabs */
.ui-tabs-panel{
	border: 1px solid #74b3b5 !important;
	padding: 5px !important
}
.ui-tabs-nav a {
	background-image: url( "./tab_top.png" ) !important;
	font-weight: normal !important;
	color: #613a4b !important;
	font-size: 11px !important;
	line-height: 22px !important
}
.ui-tabs-nav .ui-tabs-selected a {
	color: #fafafa !important
}
.ui-tabs-nav a span                                              {
	background-image: url( "./tab_top.png" ) !important;
	max-height: 50px;
	height: 22px !important
}

/* Toggle pane */
div.TogglePaneFancyHeader {
	font-family: inherit !important;
	font-size: 11px !important;
	font-weight: normal !important;
	line-height: 30px;
	height: 30px !important;
	padding: 0px !important;
	text-indent: 25px;
	cursor: pointer;
	border: none !important;
	border-width: 0px 0px !important;
	background-color: transparent !important;
	background-image: url( "./TogglePaneOpen.png" ) !important;
	background-position: 0% 0% !important;
	color: #fafafa !important
}
div.TogglePaneFancyHeaderClosed {
	background-color: transparent !important;
	background-image: url( "./TogglePaneClosed.png" ) !important;
	background-position: 0% 0% !important;
	color: #613a4b !important
}
div.TogglePanePlainContent {
	border: 1px solid #74b3b5 !important;
	border-top: none !important
}

.jcarousel-skin-nof .jcarousel-next-horizontal{
background:transparent url( "Images\\next-horizontal.png" ) no-repeat 0 0
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-next-horizontal{
background-image:url( "Images\\prev-horizontal.png" )
}

.jcarousel-skin-nof .jcarousel-prev-horizontal{
background:transparent url( "Images\\prev-horizontal.png" ) no-repeat 0 0
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-prev-horizontal{
background-image:url( "Images\\next-horizontal.png" )
}

.jcarousel-skin-nof .jcarousel-next-vertical{
background:transparent url( "Images\\next-vertical.png" ) no-repeat 0 0
}

.jcarousel-skin-nof .jcarousel-prev-vertical{
background:transparent url( "Images\\prev-vertical.png" ) no-repeat 0 0
}

.nof_LostKeysNavbar4-Regular{
font-family:Lobster;
font-size:20px;
color:#613a4b
}

.nof_LostKeysNavbar6-Highlighted{
font-family:Lobster;
font-size:20px;
color:#613a4b
}

.nof_LostKeysNavbar9-Regular{
font-family:Lobster;
font-size:14px;
color:#fafafa
}

.nof_LostKeysNavbar10-Rollover{
font-family:Lobster;
font-size:14px;
color:#fafafa
}

.nof_LostKeysNavbar11-Highlighted{
font-family:Lobster;
font-size:14px;
color:#fafafa
}

.nof_LostKeysNavbar12-HighlightedRollover{
font-family:Lobster;
font-size:14px;
color:#fafafa
}

P{
font-family:Josefin Sans ;
font-size:16px;
color:#333;
line-height:1.5em
}

.TextObject{
font-family:Josefin Sans ;
font-size:16px;
color:#333;
line-height:1.5em
}

.TextNavBar{
font-family:Josefin Sans ;
font-size:16px;
color:#75b3b5
}

A {
font-family:Josefin Sans ;
font-size:16px;
color:#75b3b5
}

A:visited {
font-family:Josefin Sans ;
font-size:16px;
color:rgb(0,128,128)
}

A:active{
font-family:Josefin Sans ;
font-size:16px;
color:#90c6c8
}

A:hover {
font-family:Josefin Sans ;
font-size:16px;
color:#90c6c8
}

H1{
font-family:Lobster;
color:#613a4b
}

H2{
font-family:Lobster;
color:#613a4b
}

H3{
font-family:Lobster;
color:#613a4b
}

H4{
font-family:Lobster;
color:#613a4b
}

H5{
font-family:Lobster;
color:#613a4b
}

H6 {
font-family:Lobster;
color:#613a4b
}

UL{
font-family:Josefin Sans ;
font-size:14px;
color:#613a4b
}OL {
font-family:Josefin Sans ;
font-size:14px;
color:#613a4b
}
.jcarousel-skin-nof .jcarousel-next-horizontal{
    background: transparent url( "Images\\nof-carousel-nav-right-lt.png" ) no-repeat 95% 50% /* next */
}

.jcarousel-skin-nof:hover .jcarousel-next-horizontal{
	background-image: url( "Images\\nof-carousel-nav-right-lt.png" )
}
.jcarousel-skin-nof .jcarousel-next-horizontal:hover {
	background-image: url( "Images\\nof-carousel-nav-right-lt.png" ) /* prev */
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-next-horizontal:hover {
	background-image: url( "Images\\nof-carousel-nav-left-lt.png" )
}

.jcarousel-skin-nof .jcarousel-next-horizontal:focus {
    background-image: url( "Images\\nof-carousel-nav-right-dk.png" )
}

.jcarousel-skin-nof .jcarousel-next-horizontal:active {
    background-image: url( "Images\\nof-carousel-nav-right-dk.png" )
}

/* Previous */
.jcarousel-skin-nof .jcarousel-prev-horizontal{
    background: transparent url( "Images\\nof-carousel-nav-left-lt.png" ) no-repeat 5% 50% /* prev */
}

.jcarousel-skin-nof:hover .jcarousel-prev-horizontal{
	background-image: url( "Images\\nof-carousel-nav-left-lt.png" )
}
.jcarousel-skin-nof .jcarousel-prev-horizontal:hover {
	background-image: url( "Images\\nof-carousel-nav-left-lt.png" )
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-prev-horizontal:hover {
	background-image: url( "Images\\nof-carousel-nav-right-lt.png" )
}

.jcarousel-skin-nof .jcarousel-prev-horizontal:focus {
    background-image: url( "Images\\nof-carousel-nav-left-dk.png" )
}

.jcarousel-skin-nof .jcarousel-prev-horizontal:active {
    background-image: url( "Images\\nof-carousel-nav-left-dk.png" )
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-nof .jcarousel-next-vertical{
    background: transparent url( "Images\\nof-carousel-nav-down-lt.png" ) no-repeat 50% 95% /* next */
}

.jcarousel-skin-nof:hover .jcarousel-next-vertical{
	background-image: url( "Images\\nof-carousel-nav-down-lt.png" )
}
.jcarousel-skin-nof .jcarousel-next-vertical:hover {
	background-image: url( "Images\\nof-carousel-nav-down-lt.png" )
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-next-vertical:hover {
	background-image: url( "Images\\nof-carousel-nav-up-lt.png" )
}

.jcarousel-skin-nof .jcarousel-next-vertical:focus {
    background-image: url( "Images\\nof-carousel-nav-down-dk.png" )
}

.jcarousel-skin-nof .jcarousel-next-vertical:active {
    background-image: url( "Images\\nof-carousel-nav-down-dk.png" )
}

/* Previous */
.jcarousel-skin-nof .jcarousel-prev-vertical{
    background: transparent url( "Images\\nof-carousel-nav-up-lt.png" ) no-repeat 50% 5% /* prev */
}

.jcarousel-skin-nof:hover .jcarousel-prev-vertical{
	background-image: url( "Images\\nof-carousel-nav-up-lt.png" )
}
.jcarousel-skin-nof .jcarousel-prev-vertical:hover {
	background-image: url( "Images\\nof-carousel-nav-up-lt.png" )
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-prev-vertical:hover {
	background-image: url( "Images\\nof-carousel-nav-down-lt.png" )
}

.jcarousel-skin-nof .jcarousel-prev-vertical:focus {
    background-image: url( "Images\\nof-carousel-nav-up-dk.png" )
}

.jcarousel-skin-nof .jcarousel-prev-vertical:active {
    background-image: url( "Images\\nof-carousel-nav-up-dk.png" )
}

.jcarousel-skin-nof .jcarousel-next-horizontal{
    background: transparent url( "./nof-carousel-nav-right-lt.png" ) no-repeat 95% 50% /* next */
}

.jcarousel-skin-nof:hover .jcarousel-next-horizontal{
	background-image: url( "./nof-carousel-nav-right-lt.png" )
}
.jcarousel-skin-nof .jcarousel-next-horizontal:hover {
	background-image: url( "./nof-carousel-nav-right-lt.png" ) /* prev */
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-next-horizontal:hover {
	background-image: url( "./nof-carousel-nav-left-lt.png" )
}

.jcarousel-skin-nof .jcarousel-next-horizontal:focus {
    background-image: url( "./nof-carousel-nav-right-dk.png" )
}

.jcarousel-skin-nof .jcarousel-next-horizontal:active {
    background-image: url( "./nof-carousel-nav-right-dk.png" )
}

/* Previous */
.jcarousel-skin-nof .jcarousel-prev-horizontal{
    background: transparent url( "./nof-carousel-nav-left-lt.png" ) no-repeat 5% 50% /* prev */
}

.jcarousel-skin-nof:hover .jcarousel-prev-horizontal{
	background-image: url( "./nof-carousel-nav-left-lt.png" )
}
.jcarousel-skin-nof .jcarousel-prev-horizontal:hover {
	background-image: url( "./nof-carousel-nav-left-lt.png" )
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-prev-horizontal:hover {
	background-image: url( "./nof-carousel-nav-right-lt.png" )
}

.jcarousel-skin-nof .jcarousel-prev-horizontal:focus {
    background-image: url( "./nof-carousel-nav-left-dk.png" )
}

.jcarousel-skin-nof .jcarousel-prev-horizontal:active {
    background-image: url( "./nof-carousel-nav-left-dk.png" )
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-nof .jcarousel-next-vertical{
    background: transparent url( "./nof-carousel-nav-down-lt.png" ) no-repeat 50% 95% /* next */
}

.jcarousel-skin-nof:hover .jcarousel-next-vertical{
	background-image: url( "./nof-carousel-nav-down-lt.png" )
}
.jcarousel-skin-nof .jcarousel-next-vertical:hover {
	background-image: url( "./nof-carousel-nav-down-lt.png" )
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-next-vertical:hover {
	background-image: url( "./nof-carousel-nav-up-lt.png" )
}

.jcarousel-skin-nof .jcarousel-next-vertical:focus {
    background-image: url( "./nof-carousel-nav-down-dk.png" )
}

.jcarousel-skin-nof .jcarousel-next-vertical:active {
    background-image: url( "./nof-carousel-nav-down-dk.png" )
}

/* Previous */
.jcarousel-skin-nof .jcarousel-prev-vertical{
    background: transparent url( "./nof-carousel-nav-up-lt.png" ) no-repeat 50% 5% /* prev */
}

.jcarousel-skin-nof:hover .jcarousel-prev-vertical{
	background-image: url( "./nof-carousel-nav-up-lt.png" )
}
.jcarousel-skin-nof .jcarousel-prev-vertical:hover {
	background-image: url( "./nof-carousel-nav-up-lt.png" )
}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-prev-vertical:hover {
	background-image: url( "./nof-carousel-nav-down-lt.png" )
}

.jcarousel-skin-nof .jcarousel-prev-vertical:focus {
    background-image: url( "./nof-carousel-nav-up-dk.png" )
}

.jcarousel-skin-nof .jcarousel-prev-vertical:active {
    background-image: url( "./nof-carousel-nav-up-dk.png" )
}
